body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fdff9e;
    margin: 0;
    font-family: 'Fredoka One', cursive;
}

.contenedor {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #5e76ff;
}

form label {
    font-size: 1.2em;
    color: #6973ff;
}

form input[type="number"] {
    font-size: 1.5em;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #6973ff;
    margin: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}

form input[type="number"]:focus {
    outline: none;
    border-bottom: 2px solid #6973ff;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #6973ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2414ff;
}

#result {
    margin-top: 20px;
    font-size: 5em;
    font-weight: bold;
}

.hidden {
    display: none;
}